<!-- Contact -->
<div class="mt-5"></div>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md fs-6 fw-normal">
        <p class="fs-5 fw-bold">Thông tin chung</p>
        <ul class="list-unstyled">
          <li>Giới thiệu về Shop</li>
          <li>Tin tuyển dụng</li>
          <li>Tin tức</li>
          <li>Tin khuyến mãi</li>
          <li>Liên hệ, góp ý</li>
          <li>Khách hàng doanh nghiệp</li>
        </ul>
      </div>
      <div class="col-md fs-6 fw-normal">
        <p class="fs-5 fw-bold">Hỗ trợ khách hàng</p>
        <ul class="list-unstyled">
          <li>Tìm hiểu về mua trả góp</li>
          <li>Chính sách vận chuyển, giao hàng</li>
          <li>Chính sách, quy định chung</li>
          <li>Chính sách bảo hành</li>
          <li>Chính sách đổi hàng</li>
          <li>Bảo mật thông tin khách hàng</li>
        </ul>
      </div>
      <div class="col-md fs-6 fw-normal">
        <p class="fs-5 fw-bold">Địa chỉ cửa hàng</p>
        <ul class="list-unstyled">
          <li>54 Nguyễn Lương Bằng, Hoà Khánh Bắc, Liên Chiểu, Đà Nẵng</li>
        </ul>
      </div>
    </div>
  </div>
</footer>>

<!-- Footer -->
<footer class="p-2 bg-dark text-white text-center position-relative">
  <div class="container">
    <p class="lead">Copyright &copy; 2021 Frontend Bootcamp</p>

    <a href="#" class="position-absolute bottom-0 end-0 p-2">
      <i class="bi bi-arrow-up-circle h1"></i>
    </a>
  </div>
</footer>